.warnblock {
  padding: 1em 1em 1em 5em;
  margin-bottom: 10px;
  background: #ffe6e6;
  position:relative;
}

.warnblock:before {
    content: "\f071";
    font-family: FontAwesome;
    left:10px;
    position:absolute;
    top: 10px;
    font-size: 45px;
    color: #ff1a1a;
 }
 
.infoblock {
  padding: 1em 1em 1em 5em;
  margin-bottom: 10px;
  background: #e6e6ff;
  position:relative;
}

.infoblock:before {
    content: "\f05a";
    font-family: FontAwesome;
    left:10px;
    position:absolute;
    top: 10px;
    font-size: 45px;
    color: #3333ff;
 }
 
.regblock {
  padding: 1em 1em 1em 1em;
  margin-bottom: 10px;
  background: #F0F8FF;
  position:relative;
}
